@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: #0C0D0E;
  color: white;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('/src/components/font/CabinetGrotesk-Variable.ttf') format('truetype');
}